body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(172, 170, 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1
{
  text-align: center;
}
.bind-body
{
  width:350px;
  text-align:center;
  font-size: 25px;
  border:1px solid black;
  position:relative;
  top:10px;
  display: inline-block;
  justify-content: center;
}
.slot-head
{
  text-align: center;
  height: 60px;
  background-color: rgb(212, 137, 24);
  box-shadow: 0 8px 8px -4px rgb(212, 137, 24);
  width: 100%;
  color: white;
  padding: 12px 0px;
  font-family: "Releway", sans-serif;
  text-transform: uppercase;
}
.btn
{
  background-color: yellowgreen;
  color: bisque;
}